@model DATN.Model.LichSuQuet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LichSuQuet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThietBi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThietBi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeDieuHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeDieuHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KinhDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KinhDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiGanDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiGanDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaQrLoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaQrLoHang.Id)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
